@model EnterpriseProject.Web.ViewModels.Enterprise.RegisterEnterpriseViewModel
@{
    ViewData["Title"] = "Registrar Empresa";
}

<h2>Registrar Empresa</h2>

<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group mb-3">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Cnpj" class="control-label"></label>
        <input asp-for="Cnpj" class="form-control" />
        <span asp-validation-for="Cnpj" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
